#calendario {
  height: 100%;
  overflow-y: scroll !important;
  position: relative;
  .fc-view-container {
      position: relative;
      margin-top: 61px;
  }
  .fc-scroller .fc-time-grid-container {
      height: 700px !important;
  }
}
